.select{
    width: 120px;
    padding: 10px;
    margin: 30px;
    cursor: pointer;
    color: #8D97A3;

    background-color: #EDEEF0;
    border: 1px solid #7194d9;
}

.select:hover{
    color: black;
    border: 1px solid black;
}
.option:checked{
    box-shadow: 0 010px 100px #FED20F inset;
    transition: all .2s ease-in-out;
    background: red;
}

.option:hover{
    box-shadow: 0 010px 100px #FED20F inset;
    transition: all .2s ease-in-out;
    background: red;
}








